body{
   background-color:#FFF5C2;
}
.App{
  
  min-height: 80vh;
  width: 350px;
  margin:30px auto;
  background-color:white;
 
 

}

.crossed{
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}
ul, li {
  list-style-type: none;
  padding: 10px;
margin: 0;
}

.container{
  display: flex;
  justify-content: center;
}


.add {

  background: #65aa06;
  margin-top: 10px;
}

.delete {
  background: #d30100;
  margin-bottom: 5px;
}



.btn {
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;

}

input{
  flex:1;
  padding: 8px;
  margin: 10px;
}

img{
  border-radius: 50%;
}